langchain-core
langchain-huggingface
langchain-experimental
langchain-chroma
langsmith
streamlit
langchain==0.3.27
langchain-ollama
langchain-community
chromadb
sentence-transformers
PyMuPDF
pdfplumber
pytesseract
Pillow
sqlalchemy
python-dotenv
plotly
pandas